.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2cm;
}

.title{
  margin-top: 2.5cm;
  font-size: 1.5cm;
}

.btn{
  margin-left: 0.5cm;
  font-size: 5cm;
}

.link{
  text-decoration: none;
  font-size: 3cm;
}

.image{
  width: 1cm;
  height: 1.1cm;
  margin-right: 0.2cm;
}

.image1{
  width: 1.6cm;
  height: 1.1cm;
  margin-right: 0.2cm;
}

.successimage{
  height: 5cm;
}

.Successful{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.35cm;
  margin-top: 3cm;
}

